th {
    background-color:rgba(102,34,136,0.5)
}

td {
    vertical-align: middle;
    padding: 10px;
}

.small {
    font-size: smaller;
    color: #90f
}

tr:nth-child(even) td:first-child {
    background-color:rgba(170,102,221,0.3)
}

tr:nth-child(odd) td:first-child {
    background-color:rgba(204,136,255,0.3)
}

tr:nth-child(even) td:not(:first-child) {
    background-color:rgba(170,102,221,0.3)
}

tr:nth-child(odd) td:not(:first-child) {
    background-color:rgba(204,136,255,0.3)
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #609;
    border-radius: 5px;
    margin-top: 5px;
}

.progress-bar-inner {
    height: 100%;
    background-color: #c3f;
    border-radius: 5px;
    transition: width 1s;
}

body {
    margin: 0;
    padding: 10px;
}
table {
    width: 80%;
    margin: 0 auto;
}